.App {
  text-align: center;
  font-family: 'Sniglet', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #303746;
  min-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title{
  font-size: 1.5em;
  margin: 10px 0;
}
.App-subtitle{
  font-size: 1.2em;
  margin: 10px 0;
}

.main-btn {
  width: 10em;
  height: 2em;
  border-radius: 10px;
  font-size: 1.2em;
  background: white;
  border: 0;
  box-shadow: 0px 8px 2px rgba(0,0,0,.6);
  font-family: 'Sniglet', cursive;
  outline: none;
  color: #2f3747;
  cursor: pointer;
}

.main-btn:hover {
  box-shadow: none;
  position: relative;
  top: 2px;
}

.game-container {
    min-width: 80%;
    background: #fff;
    height: 45vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

button.main-btn.game {
    margin: 10px;
    width: 5em;
}

button.main-btn.game.possitive {
    background: #d7fad7;
}

button.main-btn.game.negetive {
    background: #fccece;
}

input.main-input {
    width: 10em;
    height: 2em;
    margin: 20px 0;
    border-radius: 10px;
    border: 0;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    font-family: 'Sniglet', cursive;
    outline: none;
    color: #2f3747;
}

.game-question-history-container {
    text-align: left;
    margin: 0px;
}
.game-question-history-title {
    display: inline-block;
    margin: 13px;
}
.game-question-history-answer {
    display: inline-block;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 13px;
}
.game-question-history-answer.positive {
    background: green;
}
.game-question-history-answer.negetive {
    background: red;
}
input.main-input.game-question-input {
    font-size: 1em;
    height: 3em;
    width: 30em;
}
.game-component-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.game-question-title {
  margin-top: 150px;
}
.logo-container{
  background: #303746;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
}
.logo{
  width: 40px;
}
.register-logo{
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
